  <div id="contenedor">
    <iframe width="960" height="715" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

<!-- Incluimos el script de Socket.io -->
<script src='/socket.io/socket.io.js'></script>
<!-- Incluimos nuestro script -->
<script src='/js/main.js'></script>